.content ul {
    display: flex;
	justify-content: flex-end;
	
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.content ul li {
    /* align-content: flex-end;
	align-items: baseline; */
	
    list-style-type: none;
    margin: 0 1em;
}